#example_length{
    position: absolute;
}
#example_info{
    position: absolute;
}
#example_previous{
    padding: 5px;
}
#example_next{
    padding: 5px;
}
body > main > div > div > div.row.g-3.mt-2 > div.col-12.col-md-7.col-xl-8{
    flex: 0 0 auto;
    width: 50%;
}
body > main > div > div > div.row.g-3.mt-2 > div.col-12.col-md-5.col-xl-4{
    flex: 0 0 auto;
    width: 50%;
}