#preview {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.preview-image {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 10px;
}
.preview-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.preview-image .remove-image {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 30px;
    height: 30px;
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.preview-image .remove-image:hover {
    background-color: darkred;
}
.form-control {
    word-wrap: break-word;
}

.modal-dialog {
    top: 2%;
}



body > main > div > div.container.mt-5 > div > div > div > div.card-body > table > tbody > tr:nth-child(1) > td:nth-child(8) > a:nth-child(2) > i{
    color: #3F704D;
    font-size: 1.3rem;
}
body > main > div > div.container.mt-5 > div > div > div > div.card-body > table > tbody > tr:nth-child(1) > td:nth-child(8) > a:nth-child(3) > i{
    color: #C21807;
    font-size: 1.3rem;
}
body > main > div > div.container.mt-5 > div > div > div > div.card-body > table > tbody > tr:nth-child(1) > td:nth-child(8) > a:nth-child(1) > i{
    color: #00308F;
    font-size: 1.3rem;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 8px 9px;
}
th, td{
    text-align: center;
    vertical-align: middle;
}