/* The Modal (background) */
.modal-login {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
 /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 20px;
  z-index: 800;
  overflow-y: scroll;
}
/* The Modal (background) */
.modal-register {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
 /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 20px;
  z-index: 800;
  overflow-y: scroll;
}
.modal-reservation{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
 /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  z-index: 800;
  overflow-y: scroll;


}
.modal-amenities{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
 /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  z-index: 2000;
  overflow-y: scroll;


}
.modal-container{
  background-color: #fff;
  margin-top: 50px;
}
.title-header-form{
  width: 100%;
  display: flex;
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: center;

}

.booking-phase{
  margin-top: 80px;

}
.booking-btn{
  margin-left: 253px;
}




/* pagination design */

.simple-pagination ul {
  padding: 0;
  list-style: none;
  text-align: center;
  margin-left: 10px;
}

.simple-pagination li{
  display: inline-block;
  margin: 2px;
}

.simple-pagination li a,
.simple-pagination li span {
  display: block;
  width: 50px;
  background-color: #fff;
  text-align: center;
  text-decoration: none;
  color: #252525;
  border-radius: 4px;
  margin: 5px;
  box-shadow: inset 0 5px 10px rgba(0,0,0, 0.1), 0 2px 5px rgba(0,0,0, .5);
  transition: all 1s ease;

}

.simple-pagination li a:hover{
  background: #C58940;
  color: #fff;
}

.simple-pagination .current{
  color: #fff;
  background-color: #C58940;
  border-color: rgb(255,255,255);
  border: 1px solid;
  cursor: pointer;
}

.simple-pagination .prev.current,
.simple-pagination .next.current {
  background-color: #C58940;
  border: none;
}





/* login form */

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.enter {
  background-color: #E5BA73;
  color: white;
  padding: 20px 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
.date {
  margin-top: 8px;
}
.enter:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.header-login-logo{
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.or_section{
  width: 70%;
  height: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  margin-left: 15%;
  
}
.or_section .or{
  display: inline-block;
  width: 200px;
  margin: 0 0px;
  background: black;
  border-color: black;
  justify-content: center;

}
.or_section p{
  font-size: 20px;
  padding:20px;
  margin-top: 10px;

}
.click-btn{

  padding: 10px 150px;
  background-color: #fefefe;
}





span.psw {
  float: right;
}

/* The Modal (background) */


/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  padding-bottom: 40px;
 
}

.container-login {

  width: 80%;
}
.container-register{
  width: 100%;
  display: inline-block;
  justify-content: space-between;

}
.sex{
  font-size: 20px;
}
.email{
  width: 100%;
}


/* The Close Button (x) */


/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 1200px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
  .close{
    margin: 40px 280px;
  }
  .modal-content{
    width: 95%;
  }
  .modal-reservation{
   
    overflow-y: scroll;
  }
  .modal-container{
  
    margin-top: 50px;
  }
  .booking-btn{
    margin-left: 20px;
  }
  .booknow{
    width: 200px;
    padding: 10px 15px;
    border-radius: 12px;
    
  }
  .booking-phase{
    margin-top: 40px;
  
  }
  .click-btn{
    padding: 0;
  }
  .container-register{
    width: 100%;
    display: block;
    justify-content: space-between;
  
  }
  

 
}
@media screen  and (min-width: 550px){
  
  .close{
    margin: 40px 300px;
  }
  
}



/* carousel slider coverflow */

.slider {
  width: 100%;
}
.slider input {
  display: none;
}
.testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 350px;
  perspective: 1000px;
  overflow: hidden;
}
.testimonials .item {
  top: 0;
  position: absolute;
  box-sizing: border-box;
  background-color: #FAF8F1;
  padding: 30px;
  width: 450px;
  text-align: center;
  transition: transform 0.4s;
  -webkit-transform-style: preserve-3d;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  user-select: none;
  cursor: pointer;
}
.testimonials .item img {
  width: 100px;
  border-radius: 0;
}
.testimonials .item p {
  color: #C58940;
}
.testimonials .item h2 {
  font-size: 14px;
}
.dots {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dots label {
  display: block;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #FAEAB1;
  margin: 7px;
  transition: transform 0.2s, color 0.2s;
}

/* First */
#t-1:checked ~ .dots label[for="t-1"] {
  transform: scale(2);
  background-color: #fff;
}
#t-1:checked ~ .dots label[for="t-2"] {
  transform: scale(1.5);
}
#t-1:checked ~ .testimonials label[for="t-1"] {
  z-index: 4;
}
#t-1:checked ~ .testimonials label[for="t-2"] {
  transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
  z-index: 3;
}
#t-1:checked ~ .testimonials label[for="t-3"] {
  transform: translateX(600px) translateZ(-180px) rotateY(-25deg);
  z-index: 2;
}
#t-1:checked ~ .testimonials label[for="t-4"] {
  transform: translateX(900px) translateZ(-270px) rotateY(-35deg);
  z-index: 1;
}
#t-1:checked ~ .testimonials label[for="t-5"] {
  transform: translateX(1200px) translateZ(-360px) rotateY(-45deg);
}

/* Second */
#t-2:checked ~ .dots label[for="t-1"] {
  transform: scale(1.5);
}
#t-2:checked ~ .dots label[for="t-2"] {
  transform: scale(2);
  background-color: #fff;
}
#t-2:checked ~ .dots label[for="t-3"] {
  transform: scale(1.5);
}
#t-2:checked ~ .testimonials label[for="t-1"] {
  transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
}
#t-2:checked ~ .testimonials label[for="t-2"] {
  z-index: 3;
}
#t-2:checked ~ .testimonials label[for="t-3"] {
  transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
  z-index: 2;
}
#t-2:checked ~ .testimonials label[for="t-4"] {
  transform: translateX(600px) translateZ(-180px) rotateY(-25deg);
  z-index: 1;
}
#t-2:checked ~ .testimonials label[for="t-5"] {
  transform: translateX(900px) translateZ(-270px) rotateY(-35deg);
}

/* Third */
#t-3:checked ~ .dots label[for="t-2"] {
  transform: scale(1.5);
}
#t-3:checked ~ .dots label[for="t-3"] {
  transform: scale(2);
  background-color: #C58940;
}
#t-3:checked ~ .dots label[for="t-4"] {
  transform: scale(1.5);
}
#t-3:checked ~ .testimonials label[for="t-1"] {
  transform: translateX(-600px) translateZ(-180px) rotateY(25deg);
}
#t-3:checked ~ .testimonials label[for="t-2"] {
  transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
}
#t-3:checked ~ .testimonials label[for="t-3"] {
  z-index: 3;
}
#t-3:checked ~ .testimonials label[for="t-4"] {
  transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
  z-index: 2;
}
#t-3:checked ~ .testimonials label[for="t-5"] {
  transform: translateX(600px) translateZ(-180px) rotateY(-25deg);
}

/* Fourth */
#t-4:checked ~ .dots label[for="t-3"] {
  transform: scale(1.5);
}
#t-4:checked ~ .dots label[for="t-4"] {
  transform: scale(2);
  background-color: #fff;
}
#t-4:checked ~ .dots label[for="t-5"] {
  transform: scale(1.5);
}
#t-4:checked ~ .testimonials label[for="t-1"] {
  transform: translateX(-900px) translateZ(-270px) rotateY(35deg);
}
#t-4:checked ~ .testimonials label[for="t-2"] {
  transform: translateX(-600px) translateZ(-180px) rotateY(25deg);
}
#t-4:checked ~ .testimonials label[for="t-3"] {
  transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
  z-index: 2;
}
#t-4:checked ~ .testimonials label[for="t-4"] {
  z-index: 3;
}
#t-4:checked ~ .testimonials label[for="t-5"] {
  transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
}

/* Fifth */
#t-5:checked ~ .dots label[for="t-4"] {
  transform: scale(1.5);
}
#t-5:checked ~ .dots label[for="t-5"] {
  transform: scale(2);
  background-color: #fff;
}
#t-5:checked ~ .testimonials label[for="t-1"] {
  transform: translateX(-1200px) translateZ(-360px) rotateY(45deg);
}
#t-5:checked ~ .testimonials label[for="t-2"] {
  transform: translateX(-900px) translateZ(-270px) rotateY(35deg);
  z-index: 1;
}
#t-5:checked ~ .testimonials label[for="t-3"] {
  transform: translateX(-600px) translateZ(-180px) rotateY(25deg);
  z-index: 2;
}
#t-5:checked ~ .testimonials label[for="t-4"] {
  transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
  z-index: 3;
}
#t-5:checked ~ .testimonials label[for="t-5"] {
  z-index: 4;
}

/* image-col */
#row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  
}
.image-col{
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.image-col img{
  width: 100%;
  height: 500px;
  display: block;
}
.image-container h1{
  font-size: 30px;
  color:#fff;
}
.layer{
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top:22px;
  left: 0;
  transition: 0.5s;
  cursor: pointer;

}
.layer:hover{
  background: rgba(130,0,0,0.7);
  z-index: 2;
}
.layer h3{
  width: 100%;
  font-weight: 500;
  color:#fff;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
  cursor: pointer;
}
.layer:hover h3{
  bottom:49%;
  opacity: 2;
}

@media(max-width: 700px){
  .image-col img{
      width: 100%;
      height: 200px;
      display: flex;
  }
}

/* modal Amenities */

.amenities-content{
  height: 350px;
  overflow: auto;
  overflow-x: hidden;
 

}
.quantity-input {
  display: flex;
  align-items: center;
}
.box{
  border: 1px solid #000;
}

.quantity-input input {
  width: 50px;
  text-align: center;
  border: none;
  border-radius: 0;
  font-size: 16px;
}

.quantity-input button {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 8px 10px;
  font-size: 16px;
  border-radius: 0;
  cursor: pointer;
}

.quantity-input button:hover {
  background-color: #f2f2f2;
}














